@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
html{
    font-size: 62.5%;
}
.headerr{
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  justify-content: flex-start;
  background: url("../img-web/wallpaper-3362805_1280.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
header{
  z-index: 999;
  position: fixed;
  top:0;
  width: 100%;
  background-color: #92e981;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo{
  position: relative;
  color: #f2f2f2;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}
header .nav a{
   color: #ffffff;
   text-decoration: none;
   font-weight: 500;
   letter-spacing: 1px;
   padding: 2px 15px;
   border-radius: 20px;
   transition: 0.3s;
   font-size: 18px;
   transition-property: background;
}
header .nav a:not(:last-child){
  margin-right: 30px;
}
header .nav a:hover{
  background: #693bc6;
}
.label{
  display: none;
}
#check{
  z-index: 3;
  display: none;
}
.song img{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.col{
    margin-top: 30px;
    overflow: hidden;
    position: relative;
}
.container{
    padding-bottom: 100px;
}
.col-hover{
    position: absolute;
    bottom: 50%;
    color: #000000;
    left: -89%;
    transition: 1s;
}
.col:hover .col-hover{
    left: 27%;
}
.col img:hover{
    opacity: 0.5;
}
.col img{
    width: 100%;
    border-radius: 30px;
    transition: 1s;
    height: 100%;
}
/* respon */
@media(max-width:960px){
  header .nav{
      display: none;
  }
  .label{
      display: block;
      font-size: 25px;
      cursor: pointer;
      transition: 0.3s;
      transition-property: color;
  }
  .label:hover{
      color: #fff;
  }
  .label .fa-x{
      display: none;
  }
  #check:checked ~ header .nav{
      z-index: 2;
      position: fixed;
      background: rgba(114,223,255,0.9);
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  #check:checked ~ header .nav a{
      font-weight: 700;
      margin-right: 0;
      margin-bottom: 50px;
  }
  #check:checked ~ header .label .fa-bars{
      display: none;
  }
  #check:checked ~ header .label .fa-x{
      z-index: 2;
      display: block;
      position: fixed;
  }
  .label .fa-bars{
      position: absolute;
  }
  header .logo{
      position: absolute;
      bottom: -6px;
  }
}
.footer{
    background: url("../img-web/Hinh-nen-Cho-1.webp") no-repeat;
    background-size: cover;
    padding: 3rem 7%;
  }
  .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  .footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #Fff;
  }
  .footer .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: #Fff;
  }
  .footer .box-container .box a{
    text-decoration: none;
  }
  .footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1rem 0;
  }
  .footer .box-container .box .links i{
    color: #ffffff;
    padding-right: 0.5rem;
  }
  .footer .box-container .box .links:hover i{
    color: #000000;
  }
  .footer .box-container .box .email{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    text-transform: none;
  }
  .footer .box-container .box .share a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.2rem;
    border-radius: 5rem;
    margin-right: .8rem;
    text-align: center;
    margin-top: 1.4rem;
    transition: 1s;
  }
  .footer .box-container .box .share a:hover{
    transform: scale(1.3);
  }
  .footer .credit{
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    padding-top: 2.5rem;
    border-top: .2rem solid rgba(0, 0, 0, 0.2);
  }